###########################
# OS X Files
###########################
.DS_Store

###########################
# Python compilation files
###########################
*.pyc

###########################
# Gurobi Files
###########################
gurobi.log

###########################
# Tex Files
###########################
*.aux
*.log
*.lof
*.lot
*.toc
*.synctex.gz
*.xml
